@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

body {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
	text-align: center;
	margin: 0;
	padding: 0;
}
a img {
	border: 0;
}

#top {
	background-color: #F0F0F0;
	margin: 0 auto;
	width: 1250px;
}

#main {
	background-color: #E0E0E0;
	text-align: left;
	margin: 0 10px;
	width: 1230px;
}

#logo {
	font-size: 36px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #B803FF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-align: center;
	font-weight: bold;
}

#links {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #B88FFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	text-align: center;
}
#links a:link {
	color: #E0E0E0;
	text-decoration: none;
	font-weight: bold;
	font-style: normal;
}
#links a:visited {
	color: #E0E0E0;
	text-decoration: none;
	font-weight: bold;
	font-style: normal;
}
#links a:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-style: normal;
}
#links ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#links ul li {
	display: inline;
	list-style-type: none;
	margin: 0 5px;
	padding: 0;
}

#menu {
	width: 300px;
	overflow: hidden;
	float: left;
}
#menu .menu-header {
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #B803FF;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	text-align: center;
	font-weight: bold;
}
#menu .menu-content {
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 0px;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #B88FFF;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 15px;
	padding-left: 10px;
}
#menu .menu-content a:link {
	color: #000080;
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}
#menu .menu-content a:visited {
	color: #000080;
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}
#menu .menu-content a:hover {
	color: #0000FF;
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}
#menu .menu-content ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#menu .menu-content ul li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#subject {
	width: 930px;
	overflow: hidden;
	float: left;
}
#subject .content {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
	padding-left: 10px;
}
#subject .content a:link {
	color: #0000FF;
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}
#subject .content a:visited {
	color: #800080;
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}
#subject .content a:hover {
	color: #FF0000;
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}

#footer {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color: #B88FFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
	text-align: center;
	clear: both;
}
#footer a:link, #footer a:visited {
	color: #000000;
	text-decoration: underline;
}
#footer a:hover {
	color: #000000;
	text-decoration: none;
}

code {
	font-family: 'Fira Code', monospace;
    color: #FFFFFF;
    background-color: #2e2b2b;
    padding: 2px 4px;
	white-space: pre-wrap;
	word-wrap: break-word;
	border-radius: 25ox;
}

#notice {
	text-align: center;
	font-width: bold;
}